mall-bms/bms-api/target
mall-bms/bms-boot/target
mall-chat/chat-api/target
mall-chat/chat-boot/target
mall-farm/farm-boot/target
mall-oms/oms-api/target
mall-oms/oms-boot/target
mall-otc/otc-boot/target
mall-pms/pms-api/target
mall-pms/pms-boot/target
mall-task/task-api/target
mall-task/task-boot/target
mall-ums/ums-api/target
mall-wms/wms-api/target
mall-wms/wms-boot/target
muling-admin/admin-api/target
muling-admin/admin-boot/target
muling-auth/target
muling-common/common-autolog/target
muling-common/common-certification/target
muling-common/common-core/target
muling-common/common-elasticsearch/target
muling-common/common-file/target
muling-common/common-log/target
muling-common/common-mybatis/target
muling-common/common-rabbitmq/target
muling-global/target
muling-gateway/target
muling-common/common-xxl-job/target
muling-common/common-web-limit/target
muling-common/common-web-encrypt/target
muling-common/common-web/target
muling-common/common-swagger/target
muling-common/common-sms/target
muling-common/common-redis/target
